<a href="https://colab.research.google.com/github/teralasaikumar28/Machine-Learing-projects/blob/main/MinePredicition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**In this problem we have to build the model which is useful for sub-merines to predict the underwater object is rock or mine.It is a  binary classification problem we have to predict whether it is mine or rock on test data set
so we are using logic regression algorithm in this model.By building this model we can undestand logistic regression**

In [ ]:
"""
https://www.kaggle.com/datasets/mayurdalvi/sonar-mine-dataset

"""
# the above link is for dataset present in kaggle

#importing neccessary libraries and modules

import numpy as np    #numpy is used for numerical values calculation
import pandas as pd   # pandas is used for data reding and handling objects.

# reading data using pandas bulit in function
df=pd.read_csv("/content/Copy of sonar data.csv",header=None)

#here the columns not having name avoiding first row as columns name we use header=none

# head() function is used to display first n rows default n is 5
df.head()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R
3,0.0100,0.0171,0.0623,0.0205,0.0205,0.0368,0.1098,0.1276,0.0598,0.1264,...,0.0121,0.0036,0.0150,0.0085,0.0073,0.0050,0.0044,0.0040,0.0117,R
4,0.0762,0.0666,0.0481,0.0394,0.0590,0.0649,0.1209,0.2467,0.3564,0.4459,...,0.0031,0.0054,0.0105,0.0110,0.0015,0.0072,0.0048,0.0107,0.0094,R

In [ ]:
# checking names of cloumns
df.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59, 60],
           dtype='int64')

In [ ]:
# checking the number of rows and columns
df.shape

(208, 61)

In [ ]:
#checking null values in each column
df.isnull().sum()

0     0
1     0
2     0
3     0
4     0
     ..
56    0
57    0
58    0
59    0
60    0
Length: 61, dtype: int64

In [ ]:
# There is no null values in the coulmns
# last cloumn is the traget coulmn so check the count of each type in it
df[60].value_counts()
# here M represents mine and R represents rock

M    111
R     97
Name: 60, dtype: int64

In [ ]:
# describe method gives the information about numerical data it contains import values like mean,min,max etc
df.describe()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
count,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,...,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000
mean,0.029164,0.038437,0.043832,0.053892,0.075202,0.104570,0.121747,0.134799,0.178003,0.208259,...,0.016069,0.013420,0.010709,0.010941,0.009290,0.008222,0.007820,0.007949,0.007941,0.006507
std,0.022991,0.032960,0.038428,0.046528,0.055552,0.059105,0.061788,0.085152,0.118387,0.134416,...,0.012008,0.009634,0.007060,0.007301,0.007088,0.005736,0.005785,0.006470,0.006181,0.005031
min,0.001500,0.000600,0.001500,0.005800,0.006700,0.010200,0.003300,0.005500,0.007500,0.011300,...,0.000000,0.000800,0.000500,0.001000,0.000600,0.000400,0.000300,0.000300,0.000100,0.000600
25%,0.013350,0.016450,0.018950,0.024375,0.038050,0.067025,0.080900,0.080425,0.097025,0.111275,...,0.008425,0.007275,0.005075,0.005375,0.004150,0.004400,0.003700,0.003600,0.003675,0.003100
50%,0.022800,0.030800,0.034300,0.044050,0.062500,0.092150,0.106950,0.112100,0.152250,0.182400,...,0.013900,0.011400,0.009550,0.009300,0.007500,0.006850,0.005950,0.005800,0.006400,0.005300
75%,0.035550,0.047950,0.057950,0.064500,0.100275,0.134125,0.154000,0.169600,0.233425,0.268700,...,0.020825,0.016725,0.014900,0.014500,0.012100,0.010575,0.010425,0.010350,0.010325,0.008525
max,0.137100,0.233900,0.305900,0.426400,0.401000,0.382300,0.372900,0.459000,0.682800,0.710600,...,0.100400,0.070900,0.039000,0.035200,0.044700,0.039400,0.035500,0.044000,0.036400,0.043900

In [ ]:
# we are creating an deep copy of df frame as dummy.so that changing things to dummy could not affect the orginal one
dummy=df.copy()
x=dummy.drop(60,axis=1)
y=df[60]
print(x.shape)
y.shape

(208, 60)

(208,)

In [ ]:
# importing neccesary modules for model building
from sklearn.model_selection import train_test_split
#train_test_split is used to split the data
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
#accuracy_score used for finding accuracy of the model

In [ ]:
# splitting data into four types
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,stratify=y,random_state=2)

In [ ]:
# fitting the model for training dtat
m=LogisticRegression()
m.fit(x_train,y_train)

LogisticRegression()

In [ ]:
# finding accuracy for training data
x_train_predict=m.predict(x_train)
trian_accuracy=accuracy_score(x_train_predict,y_train)
print(trian_accuracy)

0.8205128205128205

In [ ]:
# finding accuracy for test data
x_test_predict=m.predict(x_test)
test_accuracy=accuracy_score(x_test_predict,y_test)
print(test_accuracy)
# my model having 82% of accuracy on test data which is a good value

0.8269230769230769

Here training accuracy is 82% and test accuracy is also 82%. so our model is good

In [ ]:
# now making a predicitve system using random row from data set
random_data=[0.0317,0.0956,0.1321,0.1408,0.1674,0.1710,0.0731,0.1401,0.2083,0.3513,0.1786,0.0658,0.0513,0.3752,0.5419,0.5440,0.5150,0.4262,0.2024,0.4233,0.7723,0.9735,0.9390,0.5559,0.5268,0.6826,0.5713,0.5429,0.2177,0.2149,0.5811,0.6323,0.2965,0.1873,0.2969,0.5163,0.6153,0.4283,0.5479,0.6133,0.5017,0.2377,0.1957,0.1749,0.1304,0.0597,0.1124,0.1047,0.0507,0.0159,0.0195,0.0201,0.0248,0.0131,0.0070,0.0138,0.0092,0.0143,0.0036,0.0103]
random_array=np.asarray(random_data)
p=random_array.reshape(1,-1)
prediction=m.predict(p)

if(prediction=='R'):
  print("The object is rock in the water")
else:
  print("The object is mine in the water")

The object is rock in the water

**Conclusin**

I have taken an random row of data form the dataset which as rock in the last row(target column) and the model also predicted it as rock