<a href="https://colab.research.google.com/github/teralasaikumar28/Machine-Learing-projects/blob/main/prediction_of_person_having_diabetics_or_not_using_svm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**In this model we have to predict a person have diabetics or not based on is glucose,Bp,SkinThickness etc.so here the problem is a classification problem we are using support vector machine algorithm.svm(support vector machine) pefroms very well on binary classification problems**

In [ ]:
# importing necesary modules and libraries for data reading and EDA
import pandas as pd
import numpy as np

In [ ]:
# reading data using pandas function
df=pd.read_csv("/content/diabetes (1).csv")
# head is used to read first n rows deault n value is 5
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
# checking the number of coumns
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [ ]:
# checking the shape of the data frame
df.shape

(768, 9)

In [ ]:
#checknig the null values in each column of the data set
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
# checking the datatypes of each coumn.if column name is different form the data present in the co1umn then we have to change it
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [ ]:
# groupby is a function used for grouping other columns with respective of one cloumns values
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [ ]:
df.groupby('Outcome').median()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,2.0,107.0,70.0,21.0,39.0,30.05,0.336,27.0
1,4.0,140.0,74.0,27.0,0.0,34.25,0.449,36.0

In [ ]:
# making the dependent(target) and independent(features) variables form the dataframe
# using an dummy data frame for all operations.so that orginal dataframe will not effect
dummy=df.copy()

In [ ]:
x=dummy.drop('Outcome',axis=1)
y=df["Outcome"]
# checking the shape of the x and y 
print(x.shape)
print(y.shape)

(768, 8)
(768,)

In [ ]:
print(y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [ ]:
# making the data in the standard form becuse the cloumns in x are in different ranges and it makes our model to predict accurate result 
# diffcult
# importing standardscaler
from sklearn.preprocessing import StandardScaler

In [ ]:
scale=StandardScaler()
standard_x=scale.fit_transform(x)

In [ ]:
print(standard_x)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [ ]:
x=standard_x

In [ ]:
# spliting data into train and test sets
from sklearn.model_selection import train_test_split

In [ ]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.20,stratify=y,random_state=5)

In [ ]:
print(train_x.shape)
print(train_y.shape)

(614, 8)
(614,)

In [ ]:
print(test_x.shape)
print(test_y.shape)

(154, 8)
(154,)

In [ ]:
# importing support vector machine from sklearn for model fitting
from sklearn import svm

In [ ]:
m=svm.SVC(kernel="linear")

In [ ]:
m.fit(train_x,train_y)

SVC(kernel='linear')

In [ ]:
# importing accuracy score for finding accuracy for tain and test data
from sklearn.metrics import accuracy_score

In [ ]:
# finding accuracy for training data
train_x_predict=m.predict(train_x)
trainig_accuracy=accuracy_score(train_x_predict,train_y)

In [ ]:
print(trainig_accuracy)

0.7964169381107492

In [ ]:
# finding the accuracy for testing data
test_y_predict=m.predict(test_x)
test_accuracy=accuracy_score(test_y_predict,test_y)

In [ ]:
print(test_accuracy)

0.7532467532467533

**conclusion**
the accuracy of trainig and testing is a bit good.The dataset we used is small so we geeting a bit low accuracy

In [ ]:
#making an predictive system
import numpy as np
random_input=[2,197,70,45,543,30.5,0.158,53]
# taken an random row which as outcome 1(diabetic)
input_arr=np.array(random_input)
input_reshape=input_arr.reshape(1,-1)
std_data=scale.transform(input_reshape)
pred=m.predict(std_data)
if(pred==1):
  print("The person is diabetic")
else:
  print("The person is not diabetic")

# our model also predicted as diabetic

The person is diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"